:root{
    --white: #f3f4f6; /* Blanc */
    --black: #414141; /* Noir */
    --gray: #ECE2E1; /* Gris */
    --pink: #f51e5b; /* Rose */
    --yellow:#fcf004; /* Jaune */
    --dark-gray: #acacac; /* Gris fonce */ 
    --green: rgb(59 146 59); /* Vert */
    --light-green: #5dc815; /* Vert clair */
    --red: rgb(146 59 59); /* Rouge */
    --orange: #ea6900; /* Orange */
    --m-aime: linear-gradient( 315deg,rgba(255, 92, 58, 1) , rgba(253, 44, 115, 1))100% center; /* M-aime Rose */
    --m-aime-vert: linear-gradient( 315deg,rgb(45, 189, 57) , rgb(104, 202, 12))100% center; /* M-aime vert */
}
