<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th class="text-center">Nom</th>
          <th>Description</th>
          <th>Color</th>
          <th>Icon</th>
          <th></th>
      </tr>
  </thead>
  <style>
      td{
          background: tomato
      }
      td:focus-visible{
          outline: none
      }
  </style>
  <tbody id="tbody">
     <form method="POST" enctype="multipart/form-data">
          <input type="hidden" hidden id='input' name="tr[]">
              <tr ondblclick="">
                  <td contenteditable="true" id="rrr">Lorem, ipsum.</td>
                  <td contenteditable="true">Lorem, ipsum.</td>
                  <td contenteditable="true">Lorem, ipsum.</td>
                  <td contenteditable="true" name="icon">Lorem, ipsum.</td>
              </tr>
          
          <button>Enregistrer</button>
          <div onclick="add()" style="border: 1px solid black; width: 40px;  text-align:center; font-size: 32px"><strong>+</strong></div>
          <script>

              const tbody = document.querySelector('#tbody');   
              
              const input = document.getElementById('input');
              
              window.addEventListener('load', test());

              function add(){
                  const tbody = document.querySelector('#tbody'); 
                  var ligne = document.createElement("tr");
                  for (let i = 0; i < 4; i++) {
                      cellule = document.createElement("td");
                      cellule.setAttribute("contenteditable", "true"),
                      ligne.appendChild(cellule);
                  }
                  tbody.appendChild(ligne);
                  test();
              }
              
              function test(){
                  const allName = document.querySelectorAll("td");
                  console.log(allName)
                  input.value = JSON.stringify(save());
                  for(const name of allName){
                      name.addEventListener('input', (e) => {
                          input.value = JSON.stringify(save());
                      })
                  }
              }

              function save(){
                  arraytr = [];
                  arraytd = [];
                  for(const childtr of tbody.childNodes){
                      if(childtr.nodeName == 'TR'){
                          for(const childtd of childtr.children){
                              arraytd.push(childtd.innerHTML)
                          }
                          arraytr.push(arraytd)
                          arraytd = [];
                      }
                  }
                  return arraytr
              }
              
          </script>
      </form>
  </tbody>
</table>
