*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/landscape.jpg");
    background-size: cover;
}
.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li.active a{
    color: #ed3c57;
    font-weight: 600;
    text-decoration: underline #ed3c57;
}

.navbar .nav-links ul li:hover a{
    color: #ed3c57;
    text-decoration: underline #ed3c57;
    transition: all 0.5s ease;
}
.navbar .menu-hamburger{
    position: absolute;
    top: 60px;
    right: 40px;
    width: 30px;
    display: none;
}


@media screen and (max-width:900px) {
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        position: absolute; 
        top: 0;
        left: 0;
        background-color: rgba(146, 126, 126, 0.14);  
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.3s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;

    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.2em;
    }
}

