/* ----------------------------- Scroll bar ---------------------------------------------------------- */
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: h sl(19, 8%, 75%);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: h sl(19, 8%, 65%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: h sl(19, 8%, 55%);
}
/* ----------------------------- Scroll bar ---------------------------------------------------------- */

